<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Восстановление аккаунта</title>
</head>
<body>
<div class="container">
    <p>Запрос на восстановление для аккаунта {{ user.username }}.</p>
    <p>Чтобы завершить процесс восстановления, просим вас перейти по 
        <a href="http://{{ip}}:{{port}}/user_recovery?user={{user.confirmToken}}h3{{user.id}}">
            данной ссылке
        </a>
    </p>
</div>
</body>
</html>